<p id="notice"><%= notice %></p>

<div id="table_attr">
  <table id="tab" class="table is-bordered">
    <thead>
        <th></th>
        <th>Title</th>
        <th>Grade</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <% @animes.each do |anime| %>
          <td id="number"><span class="nth"><%= @num += 1 %></span></td>
          <td><%= anime.title %></td>
          <td><%= anime.grade %></td>
          <td><%= link_to 'Show', anime%></td>
        </tr>
      <% end %>  
    </tbody>
  </table>
</div>

<br>
