<%= content_for :title do %>
  <%= @anime.title %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="column is-one-third">

    <div class="panel-control">
      <strong>Nota:</strong>
      <%= @anime.grade %>
    </div>

    <div class="panel-control"> 
      <strong>Resumo:</strong>
      <%= @anime.resume %>
    </div><br>
    <div id="back_button" class="button is-white">
      << <%= link_to 'Voltar', animes_path %>
    </div>
    <%= link_to 'Editar', edit_anime_path(@anime), class: "button is-link is-light" %>
    <%= link_to 'Excluir', anime_path(@anime), 
        method: :delete, date: {confirm: "Are you sure?"}, 
        class: "button is-danger is-light" %>
  </div>
  
  
</div>